<div class="side-bar flex-column">
    <div>
        <img class="join-logo-pic" src="src/img/join-logo.svg" alt="join logo">
    </div>

    <div class="link-container flex-column">
        <a id="summaryLink" href="summary.html">
            <div class="side-bar-link flex-row">
                <img class="link-img" src="src/img/summary-icon.svg" alt="">
                <span>Summary</span>
            </div>
        </a>
        <a id="boardLink" href="board.html">
            <div class="side-bar-link flex-row">
                <img class="link-img" src="src/img/board-icon.svg" alt="">
                <span>Board</span>
            </div>
        </a>
        <a id="addTaskLink" href="add-task.html">
            <div class="side-bar-link flex-row">
                <img class="link-img" src="src/img/add-task-icon.svg" alt="">
                <span>Add Task</span>
            </div>
        </a>
        <a id="contactsLink" href="contacts.html">
            <div class="side-bar-link flex-row">
                <img class="link-img" src="src/img/contacts-icon.svg" alt="">
                <span>Contacts</span>
            </div>
        </a>
    </div>
    <div>
        <a id="legalNoticeLink" href="legal-notice.html">
            <div class="side-bar-link flex-row">
                <img class="link-img" src="src/img/legal-icon.svg" alt="">
                <span>Legal Notice</span>
            </div>
        </a>
    </div>
</div>