<link rel="stylesheet" href="style.css">
<div class="side-bar">
    <div>
        <img class="join-logo-pic" src="src/img/join-logo.svg" alt="join logo">
    </div>

    <div class="link-container">
        <a href="summary.html">
            <div class="side-bar-link">
                <img class="link-img" src="src/img/summary-icon.svg" alt="">
                <span>Summary</span>
            </div>
        </a>
        <a href="board.html">
            <div class="side-bar-link">
                <img class="link-img" src="src/img/board-icon.svg" alt="">
                <span>Board</span>
            </div>
        </a>
        <a href="add-task.html">
            <div class="side-bar-link">
                <img class="link-img" src="src/img/add-task-icon.svg" alt="">
                <span>Add Task</span>
            </div>
        </a>
        <a href="contacts.html">
            <div class="side-bar-link">
                <img class="link-img" src="src/img/contacts-icon.svg" alt="">
                <span>Contacts</span>
            </div>
        </a>
    </div>

    <div>
        <a href="legal-notice.html">
            <div class="side-bar-link">
                <img class="link-img" src="src/img/legal-icon.svg" alt="">
                <span>Legal Notice</span>
            </div>
        </a>
    </div>
</div>