/* === Media Queries Height === */
@media (max-height: 800px) {
    #contact_info {
        padding: 65px 0 0 6.4%;
    }

    #contact_info_container {
        gap: 16px;
    }

    #info_contact {
        margin-top: 36px;
    }

    #info_initials {
        width: 90px;
        height: 90px;
    }

    .info_contact_name {
        gap: 10px;
    }

    #contact_information {
        height: 55px;
    }

    #contacts button {
        padding: 10px 12px;
    }

    #contacts button img {
        height: 18px;
    }

    .confirmation {
        padding: 10px 12px;
    }

    .error {
        font-size: var(--font-size-14);
    }

    #mobile_contact_info_button_container {
        gap: 10px;
    }

    #mobile_edit_contact_img {
        width: 40px;
    }

    #mobile_contact_trash {
        font-size: 24px;
    }
}

/* === Media Queries Width === */

@media (max-width: 1400px) {
    #contact_list {
        width: 320px;
    }

    #list_container {
        padding: 10px 6%;
    }

    #contactConfirmation {
        left: 600px;
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 195px;
    }

    .contact {
        gap: 20px;
    }
}

@media (max-width: 1260px) {
    #contact_list {
        width: 97px;
    }

    #list_container {
        padding: 10px 11px;
    }

    .letter {
        padding-left: 27px;
    }

    .horizontalLine {
        margin: 16px 0px 10px 2px;
    }

    .contact {
        padding: 15px 0px 15px 11px;
    }

    .list_contact {
        overflow-x: hidden;
    }

    #contactConfirmation {
        left: 380px;
    }
}

@media (max-width: 1096px) {
    #contacts {
        padding: 89px 2.3vw 0 180px;
    }

    #contact_list::-webkit-scrollbar {
        width: 4px;
    }

    #new_contact_button_span {
        display: none;
    }

    .section_header_menu {
        font-size: var(--font-size-47);
    }

    .vertical_line {
        height: 40px;
        border: 2px solid #29ABE2;
        border-radius: 2px;
    }

    #contact_subheadline {
        font-size: var(--font-size-24);
    }

    #info_initials {
        width: 80px;
        height: 80px;
        font-size: var(--font-size-36);
    }

    .info_contact_name {
        gap: 5px;
        justify-content: center;
    }

    .info_contact_name span {
        font-size: var(--font-size-36);
    }

    .info_contact_name a svg {
        width: 12px;
        height: 12px;
    }

    .info_contact_name a>span {
        font-size: var(--font-size-14);
    }

    #contact_information a svg {
        width: 16px;
        height: 23px;
    }

    #contact_information a span {
        font-size: var(--font-size-14);
    }

    #contactConfirmation {
        left: 335px;
    }

    .info_contact_name span {
        width: 400px;
    }
}

@media (max-width: 900px) {
    #contacts {
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 89px 0px 0px 180px;
    }

    /* contactlist*/
    #contact_list {
        width: 100%;
        height: calc(100vh - 89px);
    }

    #list_container {
        padding: 80px 8.5% 10px 8.5%;
    }

    #contact_list::-webkit-scrollbar {
        width: 7px;
    }

    .letter {
        padding-left: 40px;
    }

    .line_container {
        width: 110%;
        justify-content: flex-start;
    }

    .contact {
        padding: 15px 0px 15px 26px;
    }

    #contacts button {
        bottom: unset;
        top: 109px;
    }

    #new_contact_button_span {
        display: unset;
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 300px;
    }

    /*contact_info*/
    #contact_info {
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100vw - 180px);
    }

    .section_header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .section_header_menu_container {
        width: 100%;
        justify-content: space-between;
    }

    #mobile_join_headline {
        display: unset;
        font-size: 16px;
    }

    .vertical_line {
        display: none;
    }

    #contact_subheadline {
        width: 80vw;
        font-size: 18px;
    }

    #header_horizontal_line {
        margin: 0;
        width: 100%;
    }

    #contact_information a {
        display: none;
    }

    .arrow_back_container {
        display: flex;
    }

    #contact_info_container {
        transition: all 0.01s ease-in-out;
    }

    #info_contact {
        padding: 0px;
        overflow-x: unset;
        width: 100%;
    }

    #contactConfirmation {
        bottom: 20vh;
        left: 250px;
    }

    .info_contact_name span {
        width: 350px;
    }
}

@media (max-width: 800px) and (max-height: 800px) {}

@media (max-width: 768px) {
    #contact_info {
        padding: 32.5px 2.3vw 0 20px;
        width: 100%;
    }

    #contactConfirmation {
        left: 200px;
    }

    .info_contact_name span {
        width: 300px;
    }
}

@media (max-width: 670px) {
    #contacts {
        padding: 89px 0px 0px 90px;
    }

    .info_contact_name {
        width: 70%;
    }

    #contactConfirmation {
        left: 110px;
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 240px;
    }

    .info_contact_name span {
        width: 240px;
    }
}

@media (max-width: 670px) and (max-height: 800px) {
    .info_contact {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    #new_contact_button_span {
        display: none;
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 200px;
    }
}

@media (max-width: 468px) {
    body {
        background-color: var(--white-color);
    }

    #contacts {
        height: 100vh;
        padding: 10px 10px 0px 10px;
        width: 100%;
        overflow-x: hidden;
    }

    /*contactlist*/
    #contact_list {
        height: 100%;
        box-shadow: none;
    }

    .contact:hover {
        background: var(--white-color);
    }

    .contact:active {
        background: linear-gradient(0deg, rgb(239, 239, 239) 0%, rgb(249, 249, 249) 100%);
    }

    .contact:hover .contact_initials {
        scale: 1.0;
    }

    #contacts button {
        right: 5.8vw;
    }

    #new_contact_button_span {
        display: unset;
    }

    .letter {
        padding-left: 12.5px;
    }

    .contact {
        padding: 15px 0 15px 0px;
    }

    #list_container {
        padding: 80px 0px 10px 0px;
    }

    .line_container {
        width: 100%;
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 240px;
    }

    /*contactinfo*/
    #contact_info {
        padding: 75px 5px 5px 5px;
        width: 100%;
    }

    #mobile_contact_info_button_container {
        bottom: 130px;
    }

    #contacts button:hover {
        background-color: var(--darkBlue-color);
        box-shadow: none;
    }

    #contacts button:active {
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }

    #contact_information {
        height: 50px;
        width: 80vw;
    }

    #contactConfirmation {
        bottom: 25vh;
        left: 6.4%;
    }

    .confirmation {
        height: 55px;
        font-size: var(--font-size-18);
    }

    .info_contact_name span {
        width: 200px;
    }

    #info_initials {
        margin-right: 0px;
    }
}

@media (max-width: 468px) and (max-height: 800px) {
    #mobile_contact_info_button_container {
        bottom: 100px;
    }

    .profile-mobile-contacts-pic{
        display: none;
    }
}

@media (max-width: 380px) {
    #new_contact_button_span {
        display: none;
    }

    .info_contact_name span {
        font-size: var(--font-size-27);
    }

    #info_initials {
        width: 60px;
        height: 60px;
        font-size: var(--font-size-27);
    }

    #mobile_join_headline {
        margin-right: 80px;
        width: 80vw;
    }

    .section_header_menu {
        font-size: var(--font-size-36);
    }

    .contact_sublist_name,
    .contact_sublist_email {
        width: 200px;
    }
}

@media (max-height: 900px) {
    #contactConfirmation {
        bottom: 7vh;
    }
}

@media (max-height: 800px) {
    .confirmation {
        height: 55px;
        font-size: var(--font-size-18);
    }
}

@media (max-height: 800px) and (max-width: 468px) {
    #contactConfirmation {
        bottom: 30vh;
    }
}