<link rel="stylesheet" href="style.css">

<div class="add-task-container">
    <div class="left-fill-out-form">
        <div>
            <div class="form-div">
                <span>Title</span>
                <input class="title-input" type="text" placeholder="Enter a title">
            </div>
            <div class="form-div">
                <span>Description</span>
                <textarea class="desc-input" type="text" placeholder="Enter a Description"></textarea>
            </div>

            <div class="form-div">
                <span>Category</span>
                <div class="category-dropdown-div">
                    <span>Select a Category</span>
                    <img class="cursor" src="img/dropdown-arrow.svg">
                </div>
            </div>
            <div class="form-div">
                <span>Assigned to</span>
                <div class="category-dropdown-div">
                    <span>Assigned to</span>
                    <img class="cursor" src="img/dropdown-arrow.svg">
                </div>
            </div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
    <div class="line"></div>

    <div class="right-fill-out-form">
        <div class="form-div">
            <span>Due Date</span>
            <input class="title-input" type="text" placeholder="Date">
        </div>
        <div class="form-div">
            <span>Prio</span>
            <div class="prio-container">
                <input class="prio-input" type="text" placeholder="Date">
                <input class="prio-input" type="text" placeholder="Date">
                <input class="prio-input" type="text" placeholder="Date">
            </div>
        </div>
        <div class="form-div">
            <span>Subtasks</span>
            <input class="title-input" type="text" placeholder="Add new subtask">
            <img class="plus-icon cursor" src="img/plus.svg" alt="">
        </div>
        <div class="submit-btn-container">
            <button class="cancel-btn">Cancel</button>
            <button class="create-btn">Create Task</button>
        </div>
    </div>
</div>