<div class="contact_inputs_container flex-column">
    <div class="flex-column">
        <div class="input flex-row curser"><input required id="inputName" type="text" placeholder="Name" minlength="3"
                pattern="^(?!.* {2})[a-zA-Z][a-zA-Z]*([ ]+[a-zA-Z][a-zA-Z]*)+$"
                onkeyup="checkInputOnkeyUp(contactInputs, 0)" onblur="checkInputOnblur(contactInputs, 0)">
            <i class='bx bx-user'></i>
        </div>
        <span id="nameError" class="error">valid firstname (secondname) lastname</span>
    </div>
    <div class="flex-column">
        <div class="input flex-row curser">
            <input required id="inputEmail" type="email" placeholder="Email" minlength="6"
                pattern="^[a-zA-Z0-9äÄüÜöÖß_.+-]{3,30}@[a-zA-Z0-9-ß]{3,9}\.[a-z]{2,3}$"
                onblur="checkInputOnblur(contactInputs, 1)">
            <i class='bx bx-envelope'></i>
        </div>
        <span id="emailError" class="error">valid email</span>
    </div>
    <div class="flex-column">
        <div class="input flex-row curser">
            <input required id="inputPhone" type="tel" placeholder="Phone" minlength="10"
                pattern="^(?!.* {2})[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                onkeyup="checkInputOnkeyUp(contactInputs, 2)" onblur="checkInputOnblur(contactInputs, 2)">
            <i class='bx bx-phone'></i>
        </div>
        <span id="phoneError" class="error">valid phone number</span>
    </div>
</div>