<div id="help_container">
    <div class="help_mobile_join_headline flex-row">
        <span>Kanban Project Management Tool</span>
        <i class='bx bx-left-arrow-alt curser' onclick="toggleHelp()"></i>
    </div>
    <div class="headline-row flex-row">
        <span class="headline">Help</span>
        <div class="arrow_left_container return_arrow flex-column">
            <i class='bx bx-left-arrow-alt curser' onclick="toggleHelp()"></i>
        </div>
    </div>
    <div class="help_info">
        <div class="summary_container">
            <span class="subheadline">What is Join?</span>
            <p>Join is a project management and workflow system. It uses a visual board with columns
                representing
                different stages of work to provide a clear view of the workflow. Work items are represented as
                cards and their movement across the board indicates progress.
                Join focuses on limiting work in progress to improve efficiency and avoid overloading the team.
                It promotes transparency, collaboration, and continuous improvement by visualizing work and
                enabling self-organization. Also it encourages teams to pull work into the system based on
                available capacity rather than pushing more work in.
            </p>
        </div>
        <div class="guide">
            <span class="subheadline">How to use it</span>
            <div class="step_container">
                <div class="subheadline">1.</div>
                <span class="step">Visualise your tasks. Create a card for each task. In doing so, set the
                    priority, time frame and subtasks and assign them to your contacts</span>
                <div class="subheadline">2.</div>
                <span class="step">Move tasks across the board. As work progresses, move the task cards from
                    left to right across the columns. For example, when a task is being actively worked on, move
                    it to the "in progress" column. When it's completed, move it to the "Done" column.</span>
                <div class="subheadline">3.</div>
                <span class="step">Track progress and visualize bottlenecks: Continuously monitor your Join
                    board to see how tasks are flowing through the workflow. Identify any bottlenecks or areas
                    where work is getting stuck. This visibility helps you identify and address issues
                    promptly.</span>
                <div class="subheadline">4.</div>
                <span class="step">Encourage a balanced workload by not overwhelming individuals with too many
                    tasks. Ensure that work is evenly distributed and that team members can maintain a
                    sustainable pace.</span>
                <div class="subheadline">5.</div>
                <span class="step">Expand your team. Add new contacts via the contact area.</span>
            </div>
        </div>
    </div>
</div>