<div class="leg_notice_container impressum">
    <h1>Impressum</h1>

    <h2>Information according to § 5 TMG</h2>
    <div class="contact_row flex-wrap">
        <div class="contact flex-column">
            <div>Kilian Georgiew<br />Bergerstraße 6<br />82335 Berg</div>
            <div class="info">
                <div class="info_row flex-row">
                    <i class='bx bx-phone'></i>
                    <span>01738204811</span>
                </div>
                <div class="info_row flex-row">
                    <i class='bx bx-envelope'></i>
                    <span>kilian.georgiew@gmail.com</span>
                </div>
            </div>
        </div>
    </div>

    <p class="source">Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
    <button class="buttonOption2 curser" onclick="togglePrivacyPolicy()">Privacy policy</button>
</div>