<div id="sidebar" class="sidebar flex-column">
    <div class="sidebar_logo_container flex-row">
        <img class="sidebar_logo" src="src/img/join-logo.svg" alt="join logo">
    </div>

    <div class="sidebar_link_container flex-column">
        <a id="summary_link" href="summary.html">
            <div class="sidebar_link flex-row">
                <img class="sidebar_link_img" src="src/img/summary-icon.svg" alt="">
                <span>Summary</span>
            </div>
        </a>
        <a id="board_link" href="board.html">
            <div class="sidebar_link flex-row">
                <img class="sidebar_link_img" src="src/img/board-icon.svg" alt="">
                <span>Board</span>
            </div>
        </a>
        <a id="add_task_link" href="add-task.html">
            <div class="sidebar_link flex-row">
                <img class="sidebar_link_img" src="src/img/add-task-icon.svg" alt="">
                <span>Add Task</span>
            </div>
        </a>
        <a id="contact_link" href="contacts.html">
            <div class="sidebar_link flex-row">
                <img class="sidebar_link_img" src="src/img/contacts-icon.svg" alt="">
                <span>Contacts</span>
            </div>
        </a>
    </div>
    <div class="legal_notice_container flex-row">
        <a id="legal_notice_link" href="legal-notice.html">
            <div class="sidebar_link flex-row">
                <img class="sidebar_link_img" src="src/img/legal-icon.svg" alt="">
                <span>Legal Notice</span>
            </div>
        </a>
    </div>
</div>