/* === Global === */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 62.5%;
}
    
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
  
.flex-row {
    display: flex;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
  
.grid {
    display: grid;
    place-items: center;
}
  
.curser {
    cursor: pointer;
}
  
.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
  
.d-none {
    display: none;
}

.blueFont {
    color: #007CEE;
}

.button {
    background-color: #2A3647;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}