body {
    user-select: none;

}

/* Add Task*/
#add-task-section {
    padding: 8.9rem 0 0 230px;
    width: 100vw;
    height: 100vh;
    height: 100svh;
}

.main-add-task-container {
    width: calc(100vw - 230px);
    height: 100%;
    padding: 30px;
    padding-top: 35px !important;
    gap: 40px;
}

.main-add-task {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.sectionHeaderMenu {
    padding-left: 18px;
    font-size: 48px;
    font-weight: bold;
}

.add-task-container {
    display: flex;
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.delete-icon-x {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 39px;
    right: 30px;
}

.subtask-div-container {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.contact-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.checkbox-container {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-img {
    width: 12px;
    height: 12px;
}

.contact-container:hover {
    background-color: lightgray;
}

.tick-img {
    position: absolute;
    right: 12px;
    width: 8px;
    height: 8px;
}

.missing-img {
    filter: invert(100%);
}

.add-contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-bubble-container {
    display: flex;
}


#renderContactBubbles {
    display: flex;

}

.contact-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: -5px;
    border: 1px solid white;
    color: white;
}

#showAssigned {
    overflow-y: scroll;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
    margin-top: -15px;
    height: 130px;


}

.main-add-task::-webkit-scrollbar {
    display: none;
}

#showCat::-webkit-scrollbar {
    display: none;
}

#showAssigned::-webkit-scrollbar {
    display: none;
}

.subtask-left-side {
    display: flex;
    gap: 6px;
}

.subtask-right-side {
    display: flex;
}

#selectedCategory {
    display: flex;
    align-items: center;
}

.add-task-trash-pic {
    margin-right: 10px;
    cursor: pointer;
    width: 16px;
}

.left-fill-out-form {
    width: 100%;
}

.validation-text {
    padding-left: 10px;
    color: red;
    font-size: 14px;
}

.right-fill-out-form {
    width: 100%;
}

.line {
    height: 500px;
    width: 1px;
    background-color: gray;
}

.form-div {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

#assignedPeople {
    display: flex;
    align-items: center;
}

.circle {
    margin-left: 6px;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.selected-category {
    display: flex;
    align-items: center;
}


#showCat {
    padding-bottom: 5px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
    margin-top: -15px;
    background-color: white;
    overflow-y: scroll;
    height: 130px;
}

.cat {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.category-container:hover {
    background-color: lightgray;
    border-radius: 4px;
}

.cat:hover {
    background-color: lightgray;
    border-radius: 4px;
}

#categoryColors {
    margin-top: 5px;
    display: flex;
}

.tick-icon {
    cursor: pointer;
    width: 16px;
    position: absolute;
    top: 50px;
    right: 5px;
}

.x-icon {
    cursor: pointer;
    width: 16px;
    position: absolute;
    top: 50px;
    right: 35px;
}

.title-input {
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    height: 50px;
}

.cancel-btn {
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
}

.create-btn {
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #2A3647;
    padding: 10px;
    border-radius: 8px;
}

.cursor {
    cursor: pointer;
}

.colortype {
    border-radius: 100%;
    margin: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.padding-right {
    margin-right: 10px;
}

.colortype:hover {
    border: 1px solid white;
    transform: scale(1.1);
    box-shadow: 0px 0px 4px 1px rgba(82, 82, 82, 0.69);
}

.highlighted-color {
    border: 1px solid white;
    transform: scale(1.1);
    box-shadow: 0px 0px 4px 1px rgba(82, 82, 82, 0.69);
}

.submit-btn-container {
    margin-top: 85px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.cancel-btn:hover {
    border: 2px solid lightblue;
    color: rgb(59, 175, 243);
}

.create-btn:hover {
    background-color: rgb(59, 175, 243);
}

.prio-container {
    display: flex;
    justify-content: space-between;
}

.prio-input {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 15px;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    background-color: white;
}

.prio-input:hover {
    box-shadow: 0px 7px 6px -2px rgba(84, 84, 84, 0.60);
    transform: scale(1.1);
}

.plus-icon {
    position: absolute;
    right: 5px;
    top: 43px;
}

.category-dropdown-div {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    height: 50px;
}

.assigned-dropdown-div {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    height: 50px;
    align-items: center;
}

#showAssigned {
    background-color: white;
}

.desc-input {
    outline: none;
    height: 90px;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    word-wrap: break-word;
}

/* Add Task */
@media (max-height: 768px) {
    .main-add-task-container {
        padding: 6.5rem 0 0 6.4%;
        gap: 2rem;
    }
}

@media (max-width: 1096px) {
    #add-task-section {
        padding: 8.9rem 0 0 180px;
    }

    .main-add-task-container {
        width: calc(100vw - 180px);
    }

}

@media (max-width: 980px) {

    .main-add-task-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .add-task-container {
        display: flex;
        flex-direction: column;
    }

    .line {
        display: none;
    }

    .submit-btn-container {
        margin-top: 20px;
    }

    .main-add-task-container {
        padding-top: 20px;
        gap: 10px;
    }
}

@media (max-width: 670px) {
    #add-task-section {
        padding: 8.9rem 0 0 90px;
    }

    .main-add-task-container {
        width: calc(100vw - 90px);
    }

    .mobile-dropdown-opener {
        width: 14px;
        height: 42px;
    }
}

@media (max-width: 468px) {
    #add-task-section {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .sectionHeaderMenu{
        padding-left: 9px;
    }

    .main-add-task {
        padding-bottom: 80px;
    }

    .main-add-task-container {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        gap: 0px;
        width: 100vw;
    }

    .prio-input {
        padding-left: 7px;
        padding-right: 7px;
        gap: 5px;
    }

    .add-task-container {
        margin-left: 10px;
        margin-right: 10px;
        gap: 0px;
        min-height: 825px;
    }

    .subtask-left-side {
        margin-top: 4px;
    }

    .submit-btn-container {
        position: absolute;
        z-index: 100000;
        right: 20px;
        top: 20px;
        margin: 0;
    }

    .cancel-btn {
        display: none;
    }
}

.date_input_container {
    height: 30px;
    padding: 5px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: var(--white-color);
}

.date_input_container input {
    border: none;
    outline: none;
}

.date_input_container img {
    width: 20px;
    height: 20px;
}